.fourpage {
  width: 100%;
  height: 800px;
  background-image: url("../images/background/navy.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.octopus {
  width: 900px;
  height: 700px;
  background-image: url("../images/background/octopuss.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.slider {
  position: relative;
  width: 1000px; /* 슬라이더의 고정 너비 */
  height: 500px;
  margin: 0 auto;
  overflow: hidden; /* 슬라이더에서 넘치는 이미지는 숨김 */
  top: 8%;
}

.social {
  display: flex; /* 가로로 이미지 나열 */
  transition: transform 0.5s ease; /* 부드러운 슬라이드 효과 */
  width: calc(1000px * 5); /* 이미지 개수에 맞춰서 조정 */
}

.social > img {
  width: 1000px; /* 각 이미지의 고정 너비 */
  height: 500px;
  flex-shrink: 0; /* 이미지 크기를 유지 */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev,
.next {
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.sns {
  padding-top: 12%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.sns > a > img {
  width: 40px;
  height: 40px;
}

.sns > a {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 90px;
  border: 5px solid black;
  background-color: antiquewhite;
  border-radius: 50%;
  transition: 0.3s;
}

.sns > a:hover {
  border: solid 5px white;
}

.Puppet_Master_comment {
  width: 370px;
  height: 260px;
  padding-left: 20px;
  background-color: antiquewhite;
  position: relative;
  bottom: 43%;
}

.Puppet_Master_comment > li {
  font-size: 20px;
  font-weight: 700;
  color: #54473f;
}

.Puppet_Master_comment > li:nth-child(1) {
  color: #4a4947;
}
