.fourpage {
  width: 100%;
  height: 700px;
  background-image: url("../images/background/marketing_materials_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.slider {
  position: relative;
  width: 530px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  top: 25%;
  left: 30px;
}

.social {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(530px * 6); /* 이미지 개수에 맞춰서 조정 */
}

.social > img {
  width: 530px;
  height: 300px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.sns {
  padding-top: 50px;
  align-items: center;
  gap: 43px;
  position: absolute;
  left: 33.4%;
  bottom: -280%;
}
.sns > a > img {
  width: 40px;
  height: 40px;
}
.sns > a {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 90px;
  border: 5px solid black;
  border-radius: 50%;
  transition: 0.3s;
}
.sns > a:hover {
  background-color: antiquewhite;
}
.Puppet_Master_comment {
  width: 370px;
  height: 260px;
  padding-left: 20px;
  background-color: antiquewhite;
  position: relative;
  bottom: 43%;
}
.Puppet_Master_comment > li {
  font-size: 20px;
  font-weight: 700;
  color: #54473f;
}
.Puppet_Master_comment > li:nth-child(1) {
  color: #4a4947;
}
