.Puppet_Master_video {
  width: 300vw;
  margin: 0 auto;
}
.Puppet_Master_video > video {
  width: 100vw;
  height: 700px;
}
#secondpage {
  position: relative;
  text-align: center;
}

.Puppet_Master_video_container {
  overflow: hidden;
  width: 400px; /* 비디오 하나의 너비에 맞춤 */
}

.Puppet_Master_video {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
