.Puppet_Master_video > video {
  width: 1420px;
  height: 490px;
  margin-top: 10px;
}
#secondpage {
  width: 100%;
  height: 881px;
  position: relative;
  text-align: center;
  background-image: url("../images/background/Puppet\ Master_Pitch_11.png");
}
.Puppet_Master_video {
  position: absolute;
  left: 123px;
  top: 13%;
}
.tv_gift > img {
  width: 1220px;
  height: 720px;
  position: relative;
  left: 10px;
  bottom: 40px;
}
#playPauseButton {
  width: 90px;
  height: 40px;
  font-weight: 900;
  position: relative;
  top: 58px;
  z-index: 1;
  background-color: #ff8080;
  border: none;
}
